# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
backend/venv/
backend/.venv/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Node
node_modules/

# Build files
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
# Large project files
backend/model/isl_model.pkl
backend/datasets/hands/Indian Sign Language Gesture Landmarks.csv